.container {
    width: 50%;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 100px;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.8);
}

.strava-brand {
    width: 100%;
}

.strava-brand img {
    width: 17%;
    float: left;
    margin-bottom: 10px;
}