.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

/classes/
/sandvika-activity-board-frontend/src/main/frontend/node_modules/
/sandvika-activity-board-frontend/src/main/frontend/dist/
/sandvika-activity-board-frontend/src/main/frontend/node/
/sandvika-activity-board-frontend/
