language: java
jdk:
- oraclejdk8
dist: trusty
cache:
  directories:
  - $HOME/.m2
deploy:
  - provider: cloudfoundry
    api: https://api.run.pivotal.io
    username: sondre.engell@bouvet.no
    password:
      secure: p4HrwuKlGdIsJ1vlkv6wlvL3SGJ6dj7q5qYNf+k3uwGphgxCD0qK1tgADCgFn6a8yCAXuknx/7Zqa+Fk7RUMUT4S40V7XW0EeET4s1wk2oPsuZv6HFtXTqGya8BrrFagn3lbDGHzc44KHn0Kjqfh4272RIoLd/0PW8jePgTZo9oav9Kx+kl+M8IgsU2Rylbp3MySSPlouBBbrj3LqphjgbfvYcoduAyQ9Um7Y9UIhMEyDqi3tlnfXRQm5LhGfEwvHE6NG8cWPkj4tTSqSBGphmVOdPKMuLeehWMobiXcXQveWVmA8r1wQtBnoCA332H96FmKA/DkQv19MkgcXpC5BDr5+9X/LuwRfSD1N2CVTaV38bAKRSJL5hPMPFZgb+wv/oqMTSLGWuWk8rjmLBQqXeSQ0BPKMXqxRYYKMhjhD4RndtH+JMuggFKrjrSM0lWXaYWTCMLpdLBYVdxBn3Prp4ysQ3qTRodCQYZCJp42+Rcsr6b4GF14D/j+AZ7QNP1OS2YQERYND13IB0b1Kc3fU20bEin2y+1M3LA6sAwGjrucytRkfCQfJG5sLkaZsiUigJmVuiNsJUyLUqDn8bLaFK/5nfhwS+ICb7ztA3uXxbmSP0py7XNsMD2RTCecKYonWbXfYcVJNOSEfqBvadxAWHJGHfO3+GVFfCEvjYfST2Y=
    organization: sandvika-strava-board
    space: production
    manifest: manifest.yml
    on:
      branch: master
  - provider: cloudfoundry
    api: https://api.run.pivotal.io
    username: sondre.engell@bouvet.no
    password:
      secure: p4HrwuKlGdIsJ1vlkv6wlvL3SGJ6dj7q5qYNf+k3uwGphgxCD0qK1tgADCgFn6a8yCAXuknx/7Zqa+Fk7RUMUT4S40V7XW0EeET4s1wk2oPsuZv6HFtXTqGya8BrrFagn3lbDGHzc44KHn0Kjqfh4272RIoLd/0PW8jePgTZo9oav9Kx+kl+M8IgsU2Rylbp3MySSPlouBBbrj3LqphjgbfvYcoduAyQ9Um7Y9UIhMEyDqi3tlnfXRQm5LhGfEwvHE6NG8cWPkj4tTSqSBGphmVOdPKMuLeehWMobiXcXQveWVmA8r1wQtBnoCA332H96FmKA/DkQv19MkgcXpC5BDr5+9X/LuwRfSD1N2CVTaV38bAKRSJL5hPMPFZgb+wv/oqMTSLGWuWk8rjmLBQqXeSQ0BPKMXqxRYYKMhjhD4RndtH+JMuggFKrjrSM0lWXaYWTCMLpdLBYVdxBn3Prp4ysQ3qTRodCQYZCJp42+Rcsr6b4GF14D/j+AZ7QNP1OS2YQERYND13IB0b1Kc3fU20bEin2y+1M3LA6sAwGjrucytRkfCQfJG5sLkaZsiUigJmVuiNsJUyLUqDn8bLaFK/5nfhwS+ICb7ztA3uXxbmSP0py7XNsMD2RTCecKYonWbXfYcVJNOSEfqBvadxAWHJGHfO3+GVFfCEvjYfST2Y=
    organization: sandvika-strava-board
    space: development
    manifest: dev-manifest.yml
    on:
      all_branches: true
notifications:
  slack:
    secure: p4HrwuKlGdIsJ1vlkv6wlvL3SGJ6dj7q5qYNf+k3uwGphgxCD0qK1tgADCgFn6a8yCAXuknx/7Zqa+Fk7RUMUT4S40V7XW0EeET4s1wk2oPsuZv6HFtXTqGya8BrrFagn3lbDGHzc44KHn0Kjqfh4272RIoLd/0PW8jePgTZo9oav9Kx+kl+M8IgsU2Rylbp3MySSPlouBBbrj3LqphjgbfvYcoduAyQ9Um7Y9UIhMEyDqi3tlnfXRQm5LhGfEwvHE6NG8cWPkj4tTSqSBGphmVOdPKMuLeehWMobiXcXQveWVmA8r1wQtBnoCA332H96FmKA/DkQv19MkgcXpC5BDr5+9X/LuwRfSD1N2CVTaV38bAKRSJL5hPMPFZgb+wv/oqMTSLGWuWk8rjmLBQqXeSQ0BPKMXqxRYYKMhjhD4RndtH+JMuggFKrjrSM0lWXaYWTCMLpdLBYVdxBn3Prp4ysQ3qTRodCQYZCJp42+Rcsr6b4GF14D/j+AZ7QNP1OS2YQERYND13IB0b1Kc3fU20bEin2y+1M3LA6sAwGjrucytRkfCQfJG5sLkaZsiUigJmVuiNsJUyLUqDn8bLaFK/5nfhwS+ICb7ztA3uXxbmSP0py7XNsMD2RTCecKYonWbXfYcVJNOSEfqBvadxAWHJGHfO3+GVFfCEvjYfST2Y=
