<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Admin</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngb-tabset>
      <ngb-tab title="Oppdater aktiviteter">
        <ng-template ngbTabContent>
          <app-refresh-activities (success)="onSuccess($event)" (error)="onError($event)"></app-refresh-activities>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Legg til medlem">
        <ng-template ngbTabContent>
          <app-add-athlete-to-club (success)="onSuccess($event)" (error)="onError($event)"></app-add-athlete-to-club>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Slett aktivitet">
        <ng-template ngbTabContent>
          <app-delete-activity (success)="onSuccess($event)" (error)="onError($event)"></app-delete-activity>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Oppdater handikapp">
        <ng-template ngbTabContent>
          <app-update-historic-handicap (success)="onSuccess($event)" (error)="onError($event)"></app-update-historic-handicap>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Opprett ny klubb">
        <ng-template ngbTabContent>
          <app-create-new-club (success)="onSuccess($event)" (error)="onError($event)"></app-create-new-club>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Sett ny start dato for klubb">
        <ng-template ngbTabContent>
          <app-set-new-competition-start-date (success)="onSuccess($event)" (error)="onError($event)"></app-set-new-competition-start-date>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
  <div>
    <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
    <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null"> {{ errorMessage }}</ngb-alert>
  </div>
</ng-template>

<button type="button" class="btn btn-outline-primary" (click)="open(content)">Admin</button>
