.container {
    width: 100%;
    max-width: 100%;
    position: relative;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    padding: 1%;
    margin: 0;
    overflow: hidden;
}

.mini-cards .card .card-block .card-text {
    padding: 5%;
}

.card-block {
    min-height: 87px;
    max-height: 87px;
}

.table thead th {
    border: none;
}

th {
    border: none;
}

.flex-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: flex-start;
}

.nav-wrapper {
    margin-bottom: 5px;
}

.nav-wrapper .btn-group {
    width: 100%;
}

.strava-brand {
    width: 100%;
}

.strava-brand img {
    width: 50%;
    float: right;
    margin-top: 1.25rem;
}

.bouvet-brand img {
    width: 100%;
}

.panel.panel-default {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mini-cards > div {
    width: 33%;
}

h1.card-text {
    text-align: center;
    font-size: 2em;
}

stats-data-component {
    width: 100%;
}

.table-wrapper {
    width: 100%;

    border: 1px solid #dddddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.latest-activities .card {
  width: 100%;
}

.card {
    width: 100%;
    padding-top: 10px;
    margin-bottom: 10px;
}

ngbd-tabset-pills {
    width: 100%;
}

.vertical-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
}

latest-activities-component {
    width: 100%;
}

top-activities-component {
    width: 100%;
}

stats-data-component {
    width: 100%;
}

.nav {
    flex-wrap: wrap;
}

.pagination .btn-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

@media (min-width: 768px) {
    .container {
        padding: 1%;
        margin: 0 auto;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 100%;
        margin: 20px auto;
    }

    latest-activities-component {
        width: 100%;
    }

    top-activities-component {
        width: 49.5%;
    }

    stats-data-component {
        width: 49.5%;
    }

    .modal-dialog {
        max-width: 80%;
    }

    .bouvet-brand img {
        width: 10%;
        position: absolute;
        top: 10px;
        right: 20px;
    }
}


@media (min-width: 1400px) {
    .container {
        width: 90%;
        padding: 0;
    }

    .strava-brand img {
        width: 20%;
    }

    .bouvet-brand img {
        top: 5px;
        right: 0;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 80%;
        padding: 0;
    }

    .vertical-wrapper {
        width: 34.5%;
        display: block;
        justify-content: space-between;
    }

    .table-wrapper {
        width: 64.5%;
    }

    latest-activities-component {
        width: 100%;
    }

    top-activities-component {
        width: 100%;
    }

    stats-data-component {
        width: 100%;
    }

    .nav-wrapper {
        position: absolute;
        top: 7px;
        left: 250px;
    }
}
