<div class="panel panel-default" *ngIf="activities">

    <div class="card">
        <h1 class="card-text" style="font-family: 'Roboto', sans-serif;">Siste 5 aktiviteter</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Navn</th>
                <th>Aktivitet</th>
                <th>Poeng</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let activity of activities | orderBy:'-startDateLocal'">
                <td>{{activity.athletefirstName}}</td>
                <td><a href="https://www.strava.com/activities/{{activity.id}}">{{activity.name}}</a></td>
                <td>{{activity.points}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>