<div class="panel panel-default top-activities" *ngIf="activities">

    <div class="card">
        <h2 *ngIf="tab.code === 'all'" class="card-text" style="font-family: 'Roboto', sans-serif; text-align: center">Best uttelling</h2>
        <h2 *ngIf="tab.code === 'month'" class="card-text" style="font-family: 'Roboto', sans-serif; text-align: center">Best uttelling i {{tab.pageNumber | numToMonth}}</h2>
        <h2 *ngIf="tab.code === 'week'" class="card-text" style="font-family: 'Roboto', sans-serif; text-align: center">Best uttelling uke {{tab.pageNumber}}</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Navn</th>
                <th>Aktivitet</th>
                <th>Poeng</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let activity of activities | orderBy:'-points'">
                <td>{{activity.athleteFirstName}}</td>
                <td><a href="https://www.strava.com/activities/{{activity.id}}">{{activity.name}}</a></td>
                <td>{{activity.points | number : '1.0-1'}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
