/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@media (max-width: 1000px) {
  body {
    background: none;
  }
}

.carousel-item {
  background-color: #dddddd;
  border-radius: .25rem!important;
}

.carousel-item > img {
  height: 320px;
  max-width: 100%;
  width: auto;
  margin: 0 auto;
  display: block;
}

.nav {
  flex-wrap: wrap;
  padding: 5px;
}

.nav-item {
  width: 100%;
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active, .btn-outline-primary {
  color: #000;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #dddddd;
}

.btn-block + .btn-block {
  margin-top: 0;
}

a {
  color: #000;
  text-decoration: none;
}

.btn-outline-primary:not([disabled]):not(.disabled).active, .btn-outline-primary:not([disabled]):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
  color: #000;
  background-color: transparent;
  border-color: #dddddd;
  box-shadow: 0 0 0 0.2rem rgba(201, 201, 201, 0.5);
}

a:focus, a:hover, .btn-outline-primary:hover, .btn-outline-primary:active {
  color: #5c5c5c;
  text-decoration: none;
  background-color: transparent;
  border-color: #dddddd;
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(201, 201, 201, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #767676;
  background-color: transparent;
}

.modal-dialog {
  max-width: 100%;
  margin: 0 auto;
}

.modal-body {
  padding: 0;
}

.table td, .table th {
  font-size: 0.75em;
}

@media (min-width: 768px) {
  .nav-item {
    width: auto;
  }

  .table td, .table th {
    font-size: 1em;
  }

  .modal-body {
    padding: 10px;
  }

}

@media (min-width: 992px) {
}

@media (min-width: 1300px) {
  .modal-dialog {
    max-width: 80%;
  }
}

@media (min-width: 1600px) {
  .modal-dialog {
    max-width: 60%;
  }
}

.mat-sort-header-container {
  align-items: center;
}

