<form  #updateCompetitionStartDate="ngForm" (ngSubmit)="setNewCompetitionStartDate(updateCompetitionStartDate)" ng>

  <div class="form-group">
    <label for="club">Klubb: </label>
    <select class="form-control" id="club" name="club" (ngModel)="club.id" required>
      <option *ngFor="let club of clubs" [value]="club.id" >{{club.id}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="date">Dato: </label>
    <input type="date"  class="form-control" id="date"
           name="date" (ngModel)="date" required>
  </div>
  <button *ngIf="!isLoading" [disabled]="!updateCompetitionStartDate.form.valid" type="submit" class="btn btn-success">Submit</button>
  <i *ngIf="isLoading" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
</form>

