<form [formGroup]="clubForm" (ngSubmit)="createNewClub(content)">

  <div class="form-group">
    <label for="name">Klubb navn: </label>
    <input type="text"  class="form-control" id="name"
           name="name" formControlName="name" required>
  </div>

  <div class="form-group">
    <label for="date">Dato: </label>
    <input type="date"  class="form-control" id="date"
           name="date" formControlName="date" required>
  </div>

  <div formArrayName="admins">
    <h3>Admins</h3>
    <button class="btn btn-outline-primary" type="button" (click)="addAdmin()">Legg til Admin</button>

    <div *ngFor="let admin of admins.controls; let i=index">
      <label>
        Admin:
        <input type="number" [formControlName]="i">
      </label>
    </div>
  </div>

  <div formArrayName="members">
    <h3>Medlem</h3>
    <button class="btn btn-outline-primary" type="button" (click)="addMember()">Legg til medlem</button>

    <div *ngFor="let member of members.controls; let i=index">
      <label>
        Medlem:
        <input type="number" [formControlName]="i">
      </label>
    </div>
  </div>

  <button [disabled]="false" type="submit" class="btn btn-success">Submit</button>
</form>
